.form-recover {
  @extend .form__background;
  width: 382px;
  height: 218px;
}

.form-recover__possition {
  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    content: "";
    top: 440px;
    left: 627px;
  }
}

.form-recover__input--first {
  margin-top: 30px;
}
.form-recover__button {
  @extend .button;
  margin-right: 21px;
  width: 139px;
  height: 41px;
}
.form-recover__auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
